*{
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    font-size: 25px;
    align-items: center;
    gap: 10px;
}

header > img {
    height: 22px;
}

main{
    background-color: #fafafa;
    height: 60vw;
    width: 95%;
    display: grid;
    height: 730px;
    margin: 0 auto;
    gap: 20px;
    border-radius: 30px;
    justify-content: center;
    overflow: hidden;
    padding-top: 8vw;
    grid-template-columns: repeat(5, 260px);
    grid-template-rows: 50px 150px 38px 50px 138px 50px 138px 50px;
    grid-template-areas: 
    
        '. item2 item2 item2 .'
        'item1 item2 item2 item2 item3'
        'item1 . item6 . item3'
        'item4 item5 item6 item7 item8'
        'item4 item5 item11 item7 item8'
        'item9 item10 item11 item12 item13'
        'item9 item10 item14 item12 item13'
        '. . item14 . .'
    ;
}

.items{
    border-radius: 5px;
}

.item-1{
    grid-area: item1;
    background: url(./images/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-2{
    grid-area: item2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    padding: 0 150px;
    text-align: center;
}

.item-2 > div{
    width: 540px;
    height: 128px;
    font-size: 60px;
    line-height: 60px;
}

.item-2 > p{
    width: 540px;
    height: 52px;
    font-size: 20px;
}

.item-3{
    grid-area: item3;
    background: url(./images/image3.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-4{
    grid-area: item4;
    background: url(./images/image4.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-5{
    grid-area: item5;
    background: url(./images/image5.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-6{
    grid-area: item6;
    background: url(./images/image6.avif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-6 > button{
    color: white;
    background: #FF4F01;
    border: none;
    border-radius: 25px;
    padding: 14px 22px;
    font-size: 18px;
}

.item-7{
    grid-area: item7;
    background: url(./images/image7.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-8{
    grid-area: item8;
    background: url(./images/image8.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-9{
    grid-area: item9;
    background: url(./images/image9.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-10{
    grid-area: item10;
    background: url(./images/image10.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-11{
    grid-area: item11;
    background: url(./images/image11.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-12{
    grid-area: item12;
    background: url(./images/image12.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-13{
    grid-area: item13;
    background: url(./images/image13.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-14{
    grid-area: item14;
    background: url(./images/image14.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-1 {
    width: 100%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: 35px;
    text-align: center;
}

.section-1 > h3 {
    font-size: 23px;
    font-weight: 50;
}

.section-1 > .companies-design-list {
    display: flex;
    gap: 10px;
    font-size: 30px;
}

.section-1 > .companies-design-list > div:nth-child(1) {
    /* position: absolute; */
    /* animation: section1 3s linear 3s infinite direction both; */
    /* animation: section1 5s linear infinite ; */
}

.section-1 > p{
    margin-top: 20px;
    width: 720px;
    height: 157px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 550;
}
.section-1 > p > span{
    font-size: 25px;
}

.section-1 > p > span > span {
    background-color: #FF4F01;
    color: white;
}

.founder{
    width: 180px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.founder > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: url(./images/photograph1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.founder > h4{
    font-size: 17px;
    font-weight: 500;
}

.section-2{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
}

.section-heading-container{
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.section-heading{
    width: 110px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #313131;
    color: white;
    margin-bottom: 10px;
}

.sub-heading{
    font-size: 36px;
}

.heading-desc{
    font-size: 20px;
}

.cards-div{
    display: grid;
    width: 95%;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        'card1 card2 card3 card4'
    ;
}

.card-1{
    grid-area: card1;
}

.card-2{
    grid-area: card2;
}

.card-3{
    grid-area: card3;
}

.card-4{
    grid-area: card4;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #D3D3D3;
}

.cards > img {
    width: 70px;
    margin-bottom: 15px;
}

.cards > h4{
    font-size: 25px;
}

.cards > p{
    font-size: 20px;
}

@keyframes section1 {
    from{transform: translateX(0)}
    to{transform: translateX(90px)}
}

@media screen and (max-width: 520px) {

    .item-2 > div{
        width: 464px;
        height: 104px;
        font-size: 50px;
        color: red;
        line-height: 60px;
    }
    
    .item-2 > p{
        width: 464px;
        height: 70px;
        font-size: 20px;
    }
}