 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    font-family: "Inter", serif;
    /* font-weight: 100; */
    font-style: normal;
}

/* body{
    overflow-x: hidden;
} */

header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
}

/* button{
    cursor: pointer;
    background: linear-gradient(to right, #FF4F01 50%, black 50%) !important;
    background-size: 200% 100%;
    background-position: 0% 0;
    transition: background-position 0.5s ease-in-out;
}

button:hover{
    background-position: -100% 0 !important;
} */



#brand {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

#brand img {
    height: 20px;
}

@keyframes brand-logo {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}

@keyframes brand-logo-reverse {
    from{transform: rotateZ(360deg);}
    to{transform: rotateZ(0deg);}
}


main{
    background-color: #fafafa;
    height: 60vw;
    width: 95%;
    display: grid;
    height: 730px;
    margin: 0 auto;
    gap: 20px;
    border-radius: 30px;
    justify-content: center;
    overflow: hidden;
    padding-top: 8vw;
    grid-template-columns: repeat(5, 260px);
    grid-template-rows: 50px 150px 38px 50px 138px 50px 138px 50px;
    grid-template-areas: 
    
        '. item2 item2 item2 .'
        'item1 item2 item2 item2 item3'
        'item1 . item6 . item3'
        'item4 item5 item6 item7 item8'
        'item4 item5 item11 item7 item8'
        'item9 item10 item11 item12 item13'
        'item9 item10 item14 item12 item13'
        '. . item14 . .'
    ;
}

.items{
    border-radius: 5px;
}

.item-1{
    grid-area: item1;
    background: url(./images/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-2{
    grid-area: item2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    padding: 0 150px;
    text-align: center;
}

.item-2 > div{
    width: 540px;
    height: 128px;
    font-size: 55px;
    line-height: 60px;
    font-weight: 450;
}

.item-2 > p{
    width: 540px;
    height: 52px;
    font-size: 16px;
    font-weight: 350;
}

.item-3{
    grid-area: item3;
    background: url(./images/image3.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-4{
    grid-area: item4;
    background: url(./images/image4.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-5{
    grid-area: item5;
    background: url(./images/image5.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-6{
    grid-area: item6;
    background: url(./images/image6.avif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-6 > button{
    color: white;
    background: #FF4F01;
    border: none;
    border-radius: 25px;
    padding: 14px 22px;
    font-size: 18px;
}

.item-7{
    grid-area: item7;
    background: url(./images/image7.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-8{
    grid-area: item8;
    background: url(./images/image8.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-9{
    grid-area: item9;
    background: url(./images/image9.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-10{
    grid-area: item10;
    background: url(./images/image10.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-11{
    grid-area: item11;
    background: url(./images/image11.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-12{
    grid-area: item12;
    background: url(./images/image12.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-13{
    grid-area: item13;
    background: url(./images/image13.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.item-14{
    grid-area: item14;
    background: url(./images/image14.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: 35px;
    text-align: center;
}

.section-1 > h3 {
    font-size: 20px;
    font-weight: 450;
}

                                                /* ////////////////////gjgjgjgjgjgjg */

.animate{
    width: 70%;
    overflow: hidden;                                           
    position: relative;
}

.section-1 .companies-design-list {
    display: flex;
    gap: 50px;
    font-size: 25px;
    animation: animate-list 25s linear infinite;
    font-weight: 600;
}

@keyframes animate-list {
    /* from{transform: translateX(105%);}
    to{transform: translateX(-140%);} */
    from{transform: translateX(80vw);}
    to{transform: translateX(-140vw);}
}


.section-1 > h5{
    margin-top: 20px;
    width: 60%;
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
}

.section-1 > h5 > span{
    font-size: 22px;
}

.section-1 > h5 > span > span {
    background-color: #FF4F01;
    color: white;
}

.founder{
    width: 180px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.founder > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: url(./images/photograph1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.founder > h4{
    font-size: 17px;
    font-weight: 450;
}

.founder > p{
    font-size: 15px;
    font-weight: 300;
}


                                            /* all pages */
.process-page, .service-page, .benefit-page, .project-page, .pricing-page, .testimonial-page, .intro-offer-page, .about-page, .template-tutorial-page, .faq-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
    box-sizing: border-box;
}

.section-heading-container{
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 40px;
}

.section-heading{
    /* width: 110px; */
    /* height: 32px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #313131;
    color: white;
    padding: 9px 17px;
    margin-bottom: 10px;
    font-size: 12px;
}

.sub-heading{
    font-size: 36px;
    font-weight: 400;
}

.heading-desc{
    font-size: 17px;
    font-weight: 350;
}

.cards-div{
    display: grid;
    width: 95%;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        'card1 card2 card3 card4'
    ;
}

.card-1{
    grid-area: card1;
}

.card-2{
    grid-area: card2;
}

.card-3{
    grid-area: card3;
}

.card-4{
    grid-area: card4;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #D3D3D3;
}

.cards > img {
    width: 70px;
    margin-bottom: 15px;
}

.cards > h4{
    font-size: 25px;
    font-weight: 400;
}

.cards > p{
    font-size: 17px;
    font-weight: 350;
}

.service-details{
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.service-details > .details-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 15px;
    cursor: pointer;
}

.detail-items > h4{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    font-weight: 400;
}


.detail-items > p{
    display: none;
    padding-left: 35px;
    font-size: 15px;
    font-weight: 350;
}

.active-detail {
    background-color: #FAFAFA;
}

.active-detail > p{
    display: flex;
}

.detail-items > h4 > img{
    width: 20px;
}

.service-details > .details-right{
    width: 50%;
    height: 350px;
    padding: 40px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(188, 186, 186, 0.3);
    background-color: #FAFAFA;
    position: relative;
}

.service-images{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    border-radius: 20px;
}

.details-right .active{
    display: flex;
}

.benfit-cards-container{
    display: grid;
    width: 85%;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 

        'card1 card2 card3'
        'card4 card5 card6'
    ;
}

.benfit-cards-container > .box-1 {
    grid-area: card1;
    /* grid-area: unlimited-resources; */
}

.benfit-cards-container > .box-2 {
    grid-area: card2;
    /* grid-area: Lightning-fast; */
}

.benfit-cards-container > .box-3 {
    grid-area: card3;
    /* grid-area: No-contracts; */
}

.benfit-cards-container > .box-4 {
    grid-area: card4;
    /* grid-area: No-extra-Charges; */
}

.benfit-cards-container > .box-5 {
    grid-area: card5;
    /* grid-area: Top-notch-quality; */
}

.benfit-cards-container > .box-6 {
    grid-area: card6;
    /* grid-area: Risk-free-Revisions; */
}

.benefit-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px 50px;
}

.box-1 > div{
    background: url(./images/benefit1-wrapper.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px;
}

.box-2 > div{
    background: url(./images/benefit2-wrapper.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px;
}

.box-3 > div{
    background: url(./images/benefit3-wrapper.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px;
}

.box-4 > div{
    background: url(./images/benefit4-wrapper.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px;
}

.box-5 > div{
    background: url(./images/benefit5-wrapper.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px;
}

.box-6 > div{
    background: url(./images/benefit6-wrapper.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px;
}

.benefit-cards > div > img {
    width: 50px;
    margin-bottom: 15px;
}

.benefit-cards > h4{
    font-size: 25px;
    font-weight: 400;
}

.benefit-cards > p{
    font-size: 17px;
    font-weight: 350;
}

.project-grid-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    box-sizing: border-box;
    grid-template-rows: 20px 780px 70px 649px 120px 620px 5px;
    grid-template-areas: 
    
        'grid1 .'
        'grid1 grid2'
        'grid1 grid4'
        'grid3 grid4'
        'grid3 grid6'
        'grid5 grid6'
        '. grid6'
    ;
}

.project-grid-container > .grid-1{
    grid-area: grid1;
}

.project-grid-container > .grid-2{
    grid-area: grid2;
}

.project-grid-container > .grid-3{
    grid-area: grid3;
}

.project-grid-container > .grid-4{
    grid-area: grid4;
}

.project-grid-container > .grid-5{
    grid-area: grid5;
}

.project-grid-container > .grid-6{
    grid-area: grid6;
}

.project-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project{
    height: 80%;
    width: 100%;
    background: url(./images/work-backgrround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.project-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.project-container:nth-child(1)  .project-img {
    background: url(./images/project1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-container:nth-child(2)  .project-img {
    background: url(./images/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-container:nth-child(3)  .project-img {
    background: url(./images/image11.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-container:nth-child(4)  .project-img {
    background: url(./images/image7.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.project-container:nth-child(5)  .project-img {
    background: url(./images/image4.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.project-container:nth-child(6)  .project-img {
    background: url(./images/project6.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.project-desc{
    text-decoration: none;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #FAFAFA;
    color: black;
    padding: 25px;
    border-radius: 20px;
}


.project-desc > div{
    display: flex;
    justify-content: space-between;
}

.project-desc > div > h4{
    font-size: 24px;
    font-weight: 450;
}

.project-desc > div > h5{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 450;
}

.project-desc > p{
    font-size: 17px;
    font-weight: 350;
}

.project-desc img{
    width: 20px;
}

.pricing-page{
    width: 98%;
    margin: 0 auto;
    background-color: #FFFBF6;
    border-radius: 30px;
}

.pricing-grid-container{
    display: grid;
    width: 85%;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 20px 500px;
    grid-template-areas: 
    
        '. . grid3'
        '. grid2 grid3'
        'grid1 grid2 grid3'
    ;
}

.pricing-grid1{
    grid-area: grid1;
}

.pricing-grid2{
    grid-area: grid2;
    background-color: aqua;
}

.pricing-grid3{
    grid-area: grid3;
    background-color: green;
}

.pricing-grid{
    border-radius: 20px;
    border: 1px solid #D3D3D3;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    gap: 40px;
    background-color: #fff;
}

.pricing-grid > .heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pricing-grid > .heading > h4{
    font-size: 21px;
    font-weight: 450;
}

.pricing-grid > .heading > p{
    font-size: 14px;
    font-weight: 350;
}

.pricing-grid > .price{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pricing-grid > .price > h3{
    font-size: 28px;
    font-weight: 450;
}

.pricing-grid > .price > h3 > span{
    font-size: 15px;
    font-weight: 400;
    color: #626262;
}

.pricing-grid > .price > p{
    font-size: 14px;
    font-weight: 300;
}

.package-benefit > ul{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 12px;
}

.pricing-grid > button{
    padding: 10px;
    border-radius: 30px;
    background-color: #000;
    border: none;
    font-size: larger;
    color: white;
}

.testimonial-page{
    position: relative;
}

.testimonial-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.testimonial-container > .image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.image-container > div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    filter: grayscale(60%);
}

.image-container > div:hover{
    filter: grayscale(40%);
}

.image-container > div:nth-child(1){
    background: url(./images/testimonial1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container > div:nth-child(2){
    background: url(./images/testimonial2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container > div:nth-child(3){
    background: url(./images/testimonial3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container > div:nth-child(4){
    background: url(./images/testimonial4.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container > div:nth-child(5){
    background: url(./images/testimonial5.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container > .active{
    width: 56px;
    height: 56px;
    filter: none;
}

.image-container > .active:hover{
    filter: none;
}

.slider-container{
    width: 100%;
    position: relative;
}

.slider-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    display: none;
    padding-bottom: 60px;
}

.slider-container > .active{
    display: flex;
}

.slider-item > p{
    font-size: 22px;
    font-weight: 300;
}

.slider-item > div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.slider-item > div > h4{
    font-size: 19px;
    font-weight: 300;
}

.slider-item > div > p{
    font-size: 15px;
    font-weight: 300;
}

.intro-offer-page{
    width: 80%;
    background-color: #FAFAFA;
    border: 1px solid #D3D3D3;
    margin: 0 auto;
    border-radius: 30px;
}

.form-section{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

form{
    display: flex;
    gap: 7px;
}

form > .text-input{
    width: 230px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    padding: 0 20px;
}

form > .text-input:focus{
    outline: none;
    border: 1px solid #313131;
}

form > .text-input::placeholder{
    font-size: 15px;
    color: #a19f9f;
    font-weight: 300;
}

form > .button{
    width: 115px;
    height: 38px;
    border-radius: 50px;
    border: none;
    background-color: #313131;
    color: #fff;
    font-size: 17px;
    margin-left: 10px;
}

.redesign{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.redesign > h4{
    font-size: 18px;
    font-weight: 450;
}

.redesign > div{
    width: 100%;
    height: 452px;
    border: 1px solid #D3D3D3;
    border-radius: 20px;
    background: url(./images/image7.avif);
    background-size: contain;
}

.about-container{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.about-images{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 25px;
}

.about-images > div:nth-child(1) {
    width: 210px;
    height: 270px;
    background: url(./images/about1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #D3D3D3;
    border-radius: 20px;
    transform-origin: 241px 0px;
    transform: rotateZ(-7deg);
}

.about-images > div:nth-child(2) {
    width: 210px;
    height: 270px;
    background: url(./images/about2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #D3D3D3;
    border-radius: 20px;
    transform-origin: 0px 0px;
    transform: rotateZ(7deg);
}

.about-container > p{
    font-size: 20px;
    font-weight: 350;
}

.about-container > button{
    width: 140px;
    height: 44px;
    font-size: 17px;
    color: #fff;
    background-color: #FF4F01;
    border: none;
    border-radius: 23px;
}

.tutorial-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tutorial-container > div{
    width: 80%;
    height: 450px;
    background-color: red;
    border-radius: 20px;
}

.tutorial-container > button{
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #313131;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
}

.question-section{
    width: 55%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-container{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #D3D3D3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.question-container > div{
    display: flex;
    justify-content: space-between;
}

.question{
    cursor: pointer;
}

.question > h4{
    font-size: 18px;
    font-weight: 400;
}

.question > img{
    width: 18px;
    height: 18px;
    transform: rotate(0deg);
    animation: animate-question-btn-reverse 0.3s linear;
}

@keyframes animate-question-btn-reverse{
    from{transform: rotate(135deg);}
    to{transform: rotate(0deg);}
}

.question > .img-active{
    width: 18px;
    height: 18px;
    transform: rotate(135deg);
    animation: animate-question-btn 0.3s linear;
}

@keyframes animate-question-btn{
    from{transform: rotate(0deg);}
    to{transform: rotate(135deg);}
}

.question-container > .answer{
    font-size: 16px;
    font-weight: 300;
    display: none;
}

.question-container > .active{
    display: flex;
}

footer{
    margin-top: 40px;
    background-color: #FAFAFA;
    width: 100%;
    box-sizing: border-box;
    padding: 35px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

footer a{
    text-decoration: none;
    color: #000;
}

footer a:hover{
    color: #101010;
}

.footer1{
    display: flex;
    justify-content: space-between;
}


.social-handle{
    display: flex;
    gap: 10px;
}

.social-handle > a > img{
    width: 18px;
    height: 18px;
}

footer hr{
    opacity: 0.3;
}

.footer2{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 300;
}

.footer2 > div{
    display: flex;
    gap: 20px;
}







.hover-text{
    color: #fff;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    bottom: 110%;
}

.hover-text > span{
    background-color: #101010;
    border-radius: 15px;
    padding: 3px 7px;
    font-size: 12px;
    margin: 0px -6.5px;
    visibility: hidden;
    position: relative;
}

.hover-text > span:nth-child(4) {
    margin: 0px 4px;
}

.hover-text > span:nth-child(7) {
    margin: 0 -20px;
}

@keyframes menu-text-animate{
    0%{transform: translateY(10px); opacity: 0.5;}
    100%{ transform: translateY(0); opacity: 1;}
}


.scroll{
    background-color: #101010;
    position: fixed;
    display: none;
    justify-self: center;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0) scale(1);
    display: flex;
    gap: 5px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.hi{
    display: flex;
    gap: 5px;
}

.animate-in-menu{
    animation: animate-menu 0.3s linear forwards;
}

.animate-out-menu{
    animation: animate-menu-reverse 0.3s linear forwards;
}



/* @keyframes animate-menu{
    from{bottom: -10px; transform: scale(0); opacity: 0;}
    to{bottom: 50px;transform: scale(1); opacity: 1;}
} */
@keyframes animate-menu{
    0%{bottom: -30px; transform: translate(-50%,0) scale(0); opacity: 0.5;}
    100%{bottom: 10px; transform: translate(-50%,-30%) scale(1); opacity: 1;}
}

@keyframes animate-menu-reverse{
    0%{bottom: 10px; transform: translate(-50%,-30%) scale(1); opacity: 1;}
    100%{bottom: -30px; transform: translate(-50%,0) scale(0); opacity: 0.5;}
}

.icon{
    border: 0.5px solid #5d5d5d; 
    padding: 10px; 
    border-radius: 20px; 
    color: "#fff";
    width: 40px; 
    height: 40px; 
    box-sizing: border-box;
    cursor: pointer;
}

.icon:last-child{
    background-color: #FF4F01 !important;
    color: #fff !important;
}


.scroll  .active{
    color: #000;
    background-color: #fff;
    color: #313131;
}

/* .icon:last-child{
    background-color: #FF4F01 !important;
} */






@keyframes animate-image{
    from{transform: translateX(50%);}
    to{transform: translateX(width);}
}



@keyframes section1 {
    from{transform: translateX(0)}
    to{transform: translateX(90px)}
}

@media screen and (max-width: 1070px){

    .cards-div{
        display: grid;
        width: 95%;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            'card1 card2'
            'card3 card4'
        ;
    }
}

@media screen and (max-width: 890px){
    .service-details{
        flex-direction: column;
        align-items: center;
        width: 85%;
    }

    .service-details > .details-left{
        width: 90%;
        gap: 15px;
    }

    .detail-items{
        gap: 10px;
        padding: 20px;
    }

    .detail-items > h4{
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 18px;
        font-weight: 400;
    }
    
    
    .detail-items > p{
        display: none;
        padding-left: 35px;
        font-size: 15px;
        font-weight: 350;
    }

    .active-detail {
        background-color: #FAFAFA;
    }
    
    .active-detail > p{
        display: flex;
    }

    .service-details > .details-right{
        width: 80%;
    }

    .benfit-cards-container{
        width: 85%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
    
            'card1 card2'
            'card3 card4'
            'card5 card6'
        ;
    }

    .project-grid-container{
        width: 90%;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 840px 750px 566px 672px 545px 863px ;
        grid-template-areas: 
        
            '. grid1 .'
            '. grid3 .'
            '. grid5 .'
            '. grid2 .'
            '. grid4 .'
            '. grid6 .'
        ;
    }

    .project-desc{
        height: 90px;
        padding: 40px 20px;
    }

    .project{
        height: 75%;
    }

    .pricing-grid-container{
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 500px 540px 580px;
        grid-template-areas: 
        
            '. grid1 .'
            '. grid2 .'
            '. grid3 .'
        ;
    }

    .testimonial-container{
        width: 70%;
    }

    .about-container{
        width: 70%;
    }

    .tutorial-container{
        width: 90%;
    }

    .tutorial-container > div{
        width: 100%;
    }

    .question-section{
        width: 75%;
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .form-section{
        width: 85%;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 100%;
    }
    
    form > .text-input{
        width: 100%;
        height: 40px;
        border-radius: 50px;
        border: 1px solid #D3D3D3;
        box-sizing: border-box;
        padding: 0 20px;
    }

    form > .button{
        margin-top: 15px;
    }

    
}

@media screen and (max-width: 760px) {


    .section-heading-container{
        width: 80%;
    }

    main{
        grid-template-columns: repeat(5, 260px);
        grid-template-rows: 50px 140px 0px 40px 138px 50px 138px 50px;
        grid-template-areas: 
        
            '. item2 item2 item2 .'
            'item1 item2 item2 item2 item3'
            'item1 . item6 . item3'
            'item4 item5 item6 item7 item8'
            'item4 item5 item11 item7 item8'
            'item9 item10 item11 item12 item13'
            'item9 item10 item14 item12 item13'
            '. . item14 . .'
        ;
    }

    .item-2{
        justify-content: center;
    }

    .item-2 > div{
        width: 440px;
        height: 90px;
        font-size: 40px;
        line-height: 40px;
    }
    
    .item-2 > p{
        width: 464px;
        height: 70px;
        font-size: 18px;
    }

    .section-1 > h3 {
        font-size: 16px;
        font-weight: 450;
    }

    .section-1 > h5{
        margin-top: 20px;
        width: 90%;
        font-size: 20px;
        line-height: 35px;
        font-weight: 500;
    }
    
    .section-1 > h5 > span{
        font-size: 18px;
    }

    .cards-div{
        display: grid;
        width: 95%;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            'card1'
            'card2'
            'card3'
            'card4'
        ;
    }

    .service-details{
        flex-direction: column;
        align-items: center;
        width: 85%;
    }

    .service-details > .details-left{
        width: 90%;
        gap: 15px;
    }

    .detail-items{
        gap: 10px;
        padding: 20px;
    }

    .detail-items > h4{
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 18px;
        font-weight: 400;
    }
    
    
    .detail-items > p{
        display: none;
        padding-left: 35px;
        font-size: 15px;
        font-weight: 350;
    }

    .active-detail {
        background-color: #FAFAFA;
    }
    
    .active-detail > p{
        display: flex;
    }

    .service-details > .details-right{
        width: 80%;
    }

    .benfit-cards-container{
        display: grid;
        width: 85%;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
    
            'card1'
            'card2'
            'card3'
            'card4'
            'card5'
            'card6'
        ;
    }

    .pricing-grid-container{
        grid-template-columns: 1fr;
        width: 70%;
        grid-template-rows: 500px 540px 580px;
        grid-template-areas: 
        
            ' grid1 '
            ' grid2 '
            ' grid3 '
        ;
    }

    .project-grid-container{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 840px 750px 566px 672px 545px 863px ;
        grid-template-areas: 
        
            'grid1'
            'grid3'
            'grid5'
            'grid2'
            'grid4'
            'grid6'
        ;
    }

    .intro-offer-page{
        width: 90%;
    }

    .form-section{
        width: 90%;
    }

    .about-container{
        width: 90%;
    }

    .question-section{
        width: 90%;
        padding: 0px;
    }

    .question-container{
        width: 100%;
    }

    body p{
        font-size: 15px !important;
    }

    .sub-heading{
        font-size: 26px;
        font-weight: 400;
    }
    
    .heading-desc{
        font-size: 17px;
        font-weight: 350;
    }

    .question > h4{
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {

    main{
        grid-template-columns: repeat(5, 210px);
        grid-template-rows: 50px 140px 0px 40px 138px 50px 138px 50px;
        grid-template-areas: 
        
            '. item2 item2 item2 .'
            'item1 item2 item2 item2 item3'
            'item1 . item6 . item3'
            'item4 item5 item6 item7 item8'
            'item4 item5 item11 item7 item8'
            'item9 item10 item11 item12 item13'
            'item9 item10 item14 item12 item13'
            '. . item14 . .'
        ;
    }
    
    
    .item-2{
        display: flex;
        justify-content: center;
        gap: 0px;
    }
    .item-2 > div{
        width: 70%;
        font-size: 26px;
        line-height: 25px;
        padding-top: 15px;
    }
    
    .item-2 > p{
        width: 70%;
        font-size: 13px;
    }

    .section-heading-container{
        display: flex;
        width: 78%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .sub-heading{
        font-size: 5.5vw;
        font-weight: 400;
    }
    
    .heading-desc{
        font-size: 3vw;
        font-weight: 350;
    }

    .service-details{
        width: 90%;
    }

    .service-details > .details-left{
        width: 100%;
    }

    .service-details > .details-right{
        width: 90%;
        padding: 20px;
    }

    .pricing-grid-container{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 540px 580px;
        grid-template-areas: 
        
            'grid1'
            'grid2'
            'grid3'
        ;
    }

    footer{
        padding: 20px 30px;
    }
    
    .footer2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 13px !important;
    }

    .footer2 > p{
        font-size: 13px;
    }
    
    .footer2 > div{
        display: flex;
        gap: 20px;
    }
}

@media screen and (max-width: 400px) {


    .service-details > .details-right{
        width: 70%;
        height: 200px;
        padding: 40px;
        overflow: hidden;
        border-radius: 20px;
        border: 1px solid rgba(188, 186, 186, 0.3);
        background-color: #FAFAFA;
        position: relative;
    }
}
